{% extends 'base.html' %}

{% block content %}
<hgroup>
    <h1>🔔 Ваші сповіщення</h1>
    <h2>Історія подій</h2>
</hgroup>

<div class="grid">
    <div style="grid-column: span 3;">
        {% for note in notifications %}
        <article id="note-{{ note.id }}"> 
            <header>
                <strong>{{ note.title }}</strong>
                    <button 
                        class="outline contrast" 
                        style="float: right; padding: 2px 10px; font-size: 0.8em;"
                        hx-delete="{% url 'delete_notification' note.id %}"
                        hx-target="#note-{{ note.id }}"
                        hx-swap="outerHTML">
                        Видалити ✕
                    </button>
            </header>
            <p>{{ note.message }}</p>
        </article>  
        {% empty %}
        <p>У вас немає нових сповіщень.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}