# Ігноруємо віртуальне оточення
.venv
venv
env

# Ігноруємо Git
.git
.gitignore

# Ігноруємо кеш і скомпільовані файли
__pycache__
*.pyc
*.pyo
*.pyd

# Ігноруємо локальні змінні оточення (в контейнері будуть свої)
.env