#віртуальне оточення
.venv
venv
env

#git
.git
.gitignore

#кеш/скомпільовані файли
__pycache__
*.pyc
*.pyo
*.pyd

#секрети
.env
.env.*
*.vault_pass
*.tfstate
*.pem
*.key
*.pub

terraform/
ansible/
docker-compose.yml
README.md

media/
staticfiles/
db.sqlite3

*.png
*.jpg
docs/

.idea/
.vscode/
*.swp
*.swo
.DS_Store