#python/bytes
__pycache__/
*.py[cod]
*$py.class

#venv
.venv/
venv/
env/

#environment Variables
.env
.env.[a-zA-Z0-9]*
!.env.j2


#django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

#static/media
#папка збору статики для проду (не вихідні коди)
staticfiles/
#завантажені юзером файли (картинки, документи)
media/

#ide
.vscode/
.idea/
*.swp
*.swo

#os
.DS_Store
Thumbs.db

#docker
#якщо дані в локал директорію, а не volume
pg_data/

#terraform
.terraform/
*.tfstate
*.tfstate.backup
*.pem
*.tfvars

#ansible
*.retry
ansible/vertex-key.pem
*.vault_pass
*.key
*.pub
ansible/inventory.ini