
- name: Ensure community.docker collection is installed
  ansible.builtin.command: ansible-galaxy collection install community.docker
  run_once: true
  delegate_to: localhost

- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install required system packages
  apt:
    name:
      - git
      - docker.io
      - docker-compose
    state: present

- name: Ensure Docker service is running
  service:
    name: docker
    state: started
    enabled: yes

- name: Add ubuntu user to docker group
  user:
    name: ubuntu
    groups: docker
    append: yes

- name: Clone/Update repository
  git:
    repo: "{{ repo_url }}"
    dest: "{{ project_dir }}"
    version: main
    force: yes

# .env з шаблону
- name: Create .env file from template
  template:
    src: .env.j2
    dest: "{{ project_dir }}/.env"
    mode: '0600' #власник може читати

- name: Start Docker Compose
  community.docker.docker_compose_v2:
    project_src: "{{ project_dir }}"
    state: present
    wait: true
